body{
    background-color: white;/*Make the background color white*/
}

#NAV_PARENT{
    position: fixed;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    top: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    box-shadow: 0px 1px gray;
    width: 100%;
    background-color: white;
}
#NAV_MENU_ICON{
    padding-top: 15px; /*THis makes the padding inline with the about stuff*/
    
}
#NAV_ICON{
    width: 50%; /*Adjust the size o the menu image CHnage for the onclick shit*/
    height: auto;
}
#NAV_ABOUT_LINK{
    padding-right: 100px; /*makes it a little bit to the left from the far right*/
}
#NAV_ABOUT_LINK a{
    text-decoration: none; 
} 
#ABOUT_P{
    font-size:25px; /*About size */
    font-family: 'Lucida Console';
    color: #6237A0;
}


#LOG_IN{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 130px;
    padding-bottom: 100px;
}
#LOG_IN_IMG{
    padding-top: 100px;
    padding-bottom: 60px;
   
}
#LOG_IN_IMG img{
    width: 65%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
#LOG_IN_USERNAME{
    padding-top: 30px;
    padding-bottom: 15px;
}
#LOG_IN_PASSWORD{
    padding-top: 30px;
    padding-bottom: 15px;
}
#LOG_IN_USERNAME input{
    border-radius: 10px;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#LOG_IN_PASSWORD input{
    border-radius: 10px;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#LOG_IN_LOGIN{
    padding-top: 20px;
    padding-bottom: 5px;
}
#LOG_IN_LOGIN_BUTTON{
    background-color: black;
    color: white;
    padding-left: 27px;
    padding-right: 27px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 10px;
    font-size: 30px;
}
#LOG_IN_LOGIN_BUTTON:hover{
    background-color: black;
    color: white;
    padding-left: 27px;
    padding-right: 27px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 10px;
    font-size: 30px;
    opacity: 0.75;
}
#LOG_IN_SIGNUP{
    padding-top: 20px;
    padding-bottom: 35px;
}
#LOG_IN_BUTTONS{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#LOG_IN_SIGNUP_BUTTON{
    background-color: white;
    border:1px solid;
    border-color: black;  
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    font-size: 30px;
    margin-right: 20px;
}
#LOG_IN_SIGNUP_BUTTON:hover{
    background-color: white;
    border:1px solid;
    border-color: black;  
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    font-size: 30px;
    margin-right: 20px;
    opacity: 0.75;
}

#BOTTOM_ITEMS{
    bottom: 0px;
    background-color: black;
    box-shadow: 0px 1px gray;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    left: -10;
    
}
/*THis is just to check that the edits go through*/
#BOTTOM_ITEMS a{
    text-decoration: none;
}
#BOTTOM_ABOUT{
    color: white;
    padding-top: 30px;
    padding-bottom: 40px;
    font-size:20px; /*About size */
    font-family: 'Lucida Console';
}
#BOTTOM_CONTACT{
    color: white;
    padding-top: 30px;
    padding-bottom: 40px;
    font-size:20px; /*About size */
    font-family: 'Lucida Console';
}
#BOTTOM_MORE_INFO{
    color: white;
    padding-top: 30px;
    padding-bottom: 40px;
    font-size:20px; /*About size */
    font-family: 'Lucida Console';
}
